<% provide(:title," help") %>


<h1>Help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<p>
        <a href="https://dribble.com/">Welcome to dribble!</a>
        <a href="https://www.bing.com/">learning more</a>
    </p>
